<%= form_for(@sub) do |f| %>
  <% if @sub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub.errors.count, "error") %> prohibited this sub from being saved:</h2>

      <ul>
      <% @sub.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sTime %><br />
    <%= f.text_field :sTime %>
  </div>
  <div class="field">
    <%= f.label :eTime %><br />
    <%= f.text_field :eTime %>
  </div>
  <div class="field">
    <%= f.label :sourceLang %><br />
    <%= f.text_field :sourceLang %>
  </div>
  <div class="field">
    <%= f.label :transLang %><br />
    <%= f.text_field :transLang %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :trans %><br />
    <%= f.text_field :trans %>
  </div>
  <div class="field">
    <%= f.label :projectId %><br />
    <%= f.text_field :projectId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
